header {
  height: 100px;
  width: 1000px;
  background-color: black;
  position: sticky;
  top: 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.home-logo {
  height: 80px;
}

.left-block {
  display: flex;
  align-items: center;
  height: 50px;
}

.log-block {
  height: 50px;
}

.card-article {
  padding: 25px 0px;
  display: flex;
}

.card-article>img {
  padding-right: 20 px;
  height: 200px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-info {
  padding-left: 10px;
  text-align: justify;
}

main {
  display: flex;
  width: 700px;
  flex-direction: column;
}